In [100]:
import csv
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import glob
import os

# Get All tracking data
path = r'C:\Users\gabri\OneDrive\Documentos\GitHub\opencv_learning\tracking_data' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
# df = pd.read_csv("tracking.csv")
df = df.filter(df.columns[1:])

In [101]:


for col in df.columns:
    df.rename(columns={col:'p' + col},inplace=True)
########################################################################
def str_to_list(cell):
    cell = ''.join(c for c in cell if c not in "'[]")
    cell = (cell.split(', '))    
    return list(map(int, cell))

for c in df.columns:
    df[c] = df[c].apply(str_to_list)
df.head(2)

,p468,p469,p470,p471,p472,p473,p474,p475,p476,p477,...,p301,p109,p10,p338,p138,p367,p8,p9,p164,plooking_pos
0,"[291, 287]","[302, 287]","[291, 277]","[280, 288]","[291, 298]","[412, 286]","[423, 286]","[412, 275]","[402, 285]","[412, 296]",...,"[459, 251]","[317, 199]","[350, 198]","[384, 199]","[267, 406]","[445, 407]","[350, 273]","[350, 258]","[349, 385]","[238, 914]"
1,"[313, 290]","[325, 290]","[313, 279]","[301, 289]","[313, 300]","[433, 292]","[440, 292]","[431, 283]","[425, 292]","[434, 301]",...,"[469, 256]","[334, 201]","[368, 201]","[402, 202]","[273, 403]","[448, 408]","[365, 277]","[366, 262]","[361, 388]","[401, 729]"

In [102]:
df_open = df.copy()

f =[]
for c in df.columns:
    new_columns = [(c +"_x"),(c +"_y")]      
    df_open[new_columns] = pd.DataFrame(df_open[c].tolist(), index= df.index)
df_open = df_open.drop(df.columns, axis=1)

df_open.head(2)

,p468_x,p468_y,p469_x,p469_y,p470_x,p470_y,p471_x,p471_y,p472_x,p472_y,...,p367_x,p367_y,p8_x,p8_y,p9_x,p9_y,p164_x,p164_y,plooking_pos_x,plooking_pos_y
0,291,287,302,287,291,277,280,288,291,298,...,445,407,350,273,350,258,349,385,238,914
1,313,290,325,290,313,279,301,289,313,300,...,448,408,365,277,366,262,361,388,401,729

In [103]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.naive_bayes import GaussianNB
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score, precision_recall_curve, mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, SGDRegressor

### Prep Data

In [104]:
df_train = df_open.copy()
y = df_train["plooking_pos_x"]
X = df_train.drop(["plooking_pos_x", "plooking_pos_y"], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12000, 48), (8000, 48), (12000,), (8000,))

## Decision tree classifier

In [105]:
# decision_tree_model = DecisionTreeClassifier(random_state = 2)
# decision_tree_model.fit(X_train, y_train)
# y_pred = decision_tree_model.predict(X_test)
# decision_tree_model_acc = accuracy_score(y_pred, y_test) * 100
# print("Accuracy:", decision_tree_model_acc)

### Random forest classifier

In [106]:
# random_forest_model = RandomForestClassifier(criterion='gini',
#                                             n_estimators=1750,
#                                             max_depth=7,
#                                             min_samples_split=6,
#                                             min_samples_leaf=6,
#                                             max_features='auto',
#                                             verbose=1,
#                                             random_state = 3)
# random_forest_model.fit(X_train, y_train)
# y_pred = random_forest_model.predict(X_test)
# random_forest_model_acc = accuracy_score(y_pred, y_test) * 100
# print("Accuracy:", random_forest_model_acc)

### Naive Bayes classifier

In [107]:
# NB_model = GaussianNB()
# NB_model.fit(X_train, y_train)
# y_pred = NB_model.predict(X_test)
# NB_model_acc = accuracy_score(y_pred, y_test) * 100
# print("Accuracy:", NB_model_acc)

### K-nearest neighbours classifier

In [108]:
# knn_model = KNeighborsClassifier(n_neighbors = 8)
# knn_model.fit(X_train, y_train)
# y_pred = knn_model.predict(X_test)
# knn_model_acc = accuracy_score(y_pred, y_test) * 100
# print("Accuracy:", knn_model_acc)

### Support vector machines

In [109]:
# svm_model = SVC()
# svm_model.fit(X_train, y_train)
# y_pred = svm_model.predict(X_test)
# svm_model_acc = accuracy_score(y_pred, y_test) * 100
# print("Accuracy:", svm_model_acc)

In [110]:
# all_models = pd.DataFrame({
#     "Model" : ["Decision tree classifier", "Random forest classifier", "Naive Bayes classifier", "KNN", "SVM"],
#     "Accuracy score" : [decision_tree_model_acc, random_forest_model_acc, NB_model_acc, knn_model_acc, svm_model_acc]
# })
# all_models.sort_values(by = "Accuracy score")

### LinearRegression

In [111]:
LinReg = LinearRegression().fit(X_train, y_train)
LinReg.score(X_train, y_train)
# LinReg.coef_
# LinReg.intercept_
y_pred = LinReg.predict(X_test)

mae_acc = mean_absolute_error(y_pred, y_test) 
mse_acc = mean_squared_error(y_pred, y_test) 
rmse_acc = mean_squared_error(y_pred, y_test, squared=False)
r2_acc = r2_score(y_pred, y_test)

accuracy = pd.DataFrame({
    "Metric" : ["MAE", "MSE", "RMSE", "R2"],
    "Accuracy score" : [mae_acc, mse_acc, rmse_acc, r2_acc]
})
accuracy.sort_values(by = "Accuracy score")

  Metric  Accuracy score
3     R2        0.938017
0    MAE       74.954325
2   RMSE      131.949737
1    MSE    17410.733145

### Ridge

In [112]:
RidgeReg = Ridge().fit(X_train, y_train)
RidgeReg.score(X_train, y_train)
# LinReg.coef_
# LinReg.intercept_
y_pred = RidgeReg.predict(X_test)

mae_acc = mean_absolute_error(y_pred, y_test) 
mse_acc = mean_squared_error(y_pred, y_test) 
rmse_acc = mean_squared_error(y_pred, y_test, squared=False)
r2_acc = r2_score(y_pred, y_test)

accuracy = pd.DataFrame({
    "Metric" : ["MAE", "MSE", "RMSE", "R2"],
    "Accuracy score" : [mae_acc, mse_acc, rmse_acc, r2_acc]
})
accuracy.sort_values(by = "Accuracy score")

  Metric  Accuracy score
3     R2        0.938017
0    MAE       74.952262
2   RMSE      131.949796
1    MSE    17410.748656

### RidgeCV

In [113]:
RidgeCVReg = RidgeCV().fit(X_train, y_train)
RidgeCVReg.score(X_train, y_train)
# LinReg.coef_
# LinReg.intercept_
y_pred = RidgeCVReg.predict(X_test)

mae_acc = mean_absolute_error(y_pred, y_test) 
mse_acc = mean_squared_error(y_pred, y_test) 
rmse_acc = mean_squared_error(y_pred, y_test, squared=False)
r2_acc = r2_score(y_pred, y_test)

accuracy = pd.DataFrame({
    "Metric" : ["MAE", "MSE", "RMSE", "R2"],
    "Accuracy score" : [mae_acc, mse_acc, rmse_acc, r2_acc]
})
accuracy.sort_values(by = "Accuracy score")

  Metric  Accuracy score
3     R2        0.938013
0    MAE       74.933898
2   RMSE      131.950452
1    MSE    17410.921713

### Fit All data and export

In [114]:
df_train = df_open.copy()
y = df_train["plooking_pos_x"]
X = df_train.drop(["plooking_pos_x", "plooking_pos_y"], axis = 1)

RidgeCVReg_x = RidgeCV().fit(X, y)

In [115]:
df_train = df_open.copy()
y = df_train["plooking_pos_y"]
X = df_train.drop(["plooking_pos_x", "plooking_pos_y"], axis = 1)

RidgeCVReg_y = LinearRegression().fit(X, y)

In [116]:
from joblib import dump, load
dump(RidgeCVReg_x, 'Models/RidgeCVReg_x.joblib')
dump(RidgeCVReg_y, 'Models/RidgeCVReg_y.joblib')

['Models/RidgeCVReg_y.joblib']